.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 24px;
  gap: 40px;
  @media screen and (max-width: 780px) {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

.App-link {
  color: #61dafb;
}
